<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title><%= title %></title>
</head>
<body>
  <script>
  alert('입력한 정보와 일치하는 아이디가 존재하지 않습니다.');
  window.history.back();
  </script>
</body>
</html>