<div class="logo">
    <a href="/">
        <img src="/images/icon/logo-white.png" alt="Cool Admin" />
    </a>
</div>
<div class="menu-sidebar2__content js-scrollbar1">
    <%if(userID){%>
    <div class="account2">
            <h4 class="name"><%=userID%></h4>
            <a href="/logout">Sign out</a>
    </div>
    <%} else{%>
        <div class="account2">
                <h4 class="name">new </h4>
                <a href="/login">Sign in</a>
        </div>
    <%}%>

    <nav class="navbar-sidebar2">
        <ul class="list-unstyled navbar__list">
            
            <li class="active has-sub">
                <a class="js-arrow" href="#">
                        <i class="fas fa-tachometer-alt"></i>모의 투자 대회
                        <span class="arrow">
                            <i class="fas fa-angle-down"></i>
                        </span>
                </a>
                <ul class="list-unstyled navbar__sub-list js-sub-list">
                    <li>
                        <a href="/invest">
                            <i class="fas fa-tachometer-alt"></i>대회 리스트</a>
                    </li>
                   
                </ul>
            </li>
            <li class="active has-sub">
                <a class="js-arrow" href="#">
                        <i class="fas fa-tachometer-alt"></i>게시판
                        <span class="arrow">
                            <i class="fas fa-angle-down"></i>
                        </span>
                </a>
                <ul class="list-unstyled navbar__sub-list js-sub-list">
                    <li>
                        <a href="/board">
                            <i class="fas fa-tachometer-alt"></i>게시판</a>
                    </li>
                </ul>
            </li>
    </nav>
</div>