<div class="logo">
    <a href="/">
        <img src="images/icon/logo-white.png" alt="Cool Admin" />
    </a>
</div>
<div class="menu-sidebar2__content js-scrollbar1">
    <% var userID = false; // 임시
    if(userID){%>
    <div class="account2">
        <div class>
            <img src="" alt="" />
        </div>
            <h4 class="name"><%= user.Name %></h4>
            <h5 ><%= user.money %>￦</h5>
            <a href="/login">Sign out</a>

        <a href="/login">Sign in</a>
    </div>
    <%} else{%>
        <div class="account2">
            <div class>
                <img src="" alt="" />
            </div>
                <h4 class="name">new </h4>
                <a href="/login">Sign in</a>
        </div>
    <%}%>

    <nav class="navbar-sidebar2">
        <ul class="list-unstyled navbar__list">
            
            <li class="active has-sub">
                <a class="js-arrow" href="#">
                        <i class="fas fa-tachometer-alt"></i>모의 투자 대회
                        <span class="arrow">
                            <i class="fas fa-angle-down"></i>
                        </span>
                </a>
                <ul class="list-unstyled navbar__sub-list js-sub-list">
                    <li>
                        <a href="/competition">
                            <i class="fas fa-tachometer-alt"></i>대회 참여</a>
                    </li>
                    <li>
                        <a href="/competition-list">
                            <i class="fas fa-tachometer-alt"></i>대회 리스트</a>
                    </li>
                   
                </ul>
            </li>
            <li class="active has-sub">
                <a class="js-arrow" href="#">
                        <i class="fas fa-tachometer-alt"></i>게시판
                        <span class="arrow">
                            <i class="fas fa-angle-down"></i>
                        </span>
                </a>
                <ul class="list-unstyled navbar__sub-list js-sub-list">
                    <li>
                        <a href="/board">
                            <i class="fas fa-tachometer-alt"></i>게시판</a>
                    </li>
                </ul>
            </li>
    </nav>
</div>